@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 30%;
  height: 100%;
  background: url("./img/green-forest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  
}
.transbg {
  background-color: rgba(0, 0, 0, 0.432);
  filter: drop-shadow(100);
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.transbg img {
  width: 250px;
  height: 250px;
  transition: transform 1s ease-in-out 1ms;
}
.transbg img:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}

.attribution{
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 10px;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Side Bar Section Ends here  */

/* Main Section Start Here  */

.main{
    width: 70%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.021);
}
.main .text{
    height: 20%;
    display: flex;
    font-family: New Amsterdam Static;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: black;
}

.main form{
    background-color: white;
    padding: 10px;

}
fieldset{
    border: none;
    padding: 1rem;
    gap: 10px;
}

#main-fieldset{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   
}

#name-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

#email-number-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

#password-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
#password-fieldset input{
    border-color: #E5E7EB;
}
#password-fieldset input:invalid{
    border-color: red;
}

input{
    width: 150px;
    padding: 2px;
    border-color: #E5E7EB;
}


form .submittion{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
#phone-number:invalid{
    border: 1px solid red;
}
.submittion input{
    background-color:aqua;
    font-size: 18px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
.submittion input:hover{
    cursor: pointer;
}
legend{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
.instruction{
    padding: 10px;
}